/*
	Background Color : #1B2430
	Secondary 		 : #51557E
	Monochromatic	 : #816797
	Scaffold		 : #D6D5A8	
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b2430;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.border-bottom {
  border-bottom: 1px solid #ffffff;
}

.input-text {
  border: 1px solid #ffffff;
  padding: 16px;
  border-radius: 10px;
}

.container-app {
  margin: 32px auto;
  max-width: 80%;
}

.container-form {
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  padding: 32px;
}

.container-active-todo,
.container-archive-todo,
.container-filter-todo {
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  padding: 32px;
}

.container-active-todo-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px 0;
}

.box-active-todo {
  flex-basis: 25%;
  min-height: 250px;
}

.btn-submit {
  padding: 16px;
  background-color: #816797;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16pt;
}

.btn-delete {
  background-color: #a91079;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
  color: white;
}

.btn-archive {
  background-color: #ec994b;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
  color: white;
}

.btn-search {
  background-color: #ec994b;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  border-radius: 10px;
}

.btn-submit:hover {
  background-color: #51557e;
}

.card {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
  color: white;
  height: 100%;
}

.card-body {
  overflow: auto;
  font-size: 12pt;
  padding: 8px 0;
}

.card-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
